@model TH.Models.RegisterModel

<form asp-action="Register" enctype="multipart/form-data" class="registration-form">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    @if (!string.IsNullOrEmpty(ViewData["Error"]?.ToString()))
    {
        <div class="alert alert-danger">
            @Html.Raw(ViewData["Error"])
        </div>
    }
    <div class="form-group">
        <label asp-for="FirstName" class="control-label"></label>
        <input asp-for="FirstName" class="form-control google-form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="LastName" class="control-label"></label>
        <input asp-for="LastName" class="form-control google-form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control google-form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control google-form-control" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <!-- Add the "I am a doctor" checkbox -->
    <div class="form-group">
        <label>
            <input id="doctorCheckbox" type="checkbox" name="IsDoctor" value="true" />
            I am a doctor
        </label>
    </div>

    <!-- Add a hidden input field for the "role" parameter -->
    <input id="roleInput" name="role" type="hidden" value="" />

    <input id="submitButton" type="submit" value="Submit" class="btn btn-outline-primary" />
</form>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Attach an event handler to the checkbox change event
            $("#doctorCheckbox").change(function () {
                var isChecked = $(this).is(":checked");
                var roleValue = isChecked ? "@THDefaults.DoctorUnverified" : "@THDefaults.PatientUnverified";

                console.log('hi')
                // Set the 'role' input field value
                $("#roleInput").val(roleValue);
            });
        });
    </script>
}
