@model TH.Models.RegisterModel

@{
    Layout = "_RootNavFoot";
    ViewData["Title"] = "Register Page";
}
<link href="/css/nav_register.css" rel="stylesheet">
<main class="form-signin text-center">
    <form asp-action="Register">
        <img class="mb-4" src="https://www.computerhope.com/jargon/b/bootstrap.png" alt="" width="72" height="57">
        <h1 class="h3 mb-3 fw-normal">Welcome! Wish you a good health</h1>
        <div class="form-floating">
            <input type="text" asp-for="FirstName" class="form-control" id="floatingInput" placeholder="Mahir">
            <label for="floatingInput">First Name</label>
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="text" asp-for="LastName" class="form-control" id="floatingInput" placeholder="Foisal">
            <label for="floatingInput">Last Name</label>
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="email" asp-for="Email" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Email address</label>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-floating">
            <input type="password" asp-for="Password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input id="doctorCheckbox" type="checkbox" name="IsDoctor" value="true"> I am a doctor
            </label>
        </div>
        <input id="roleInput" name="role" type="hidden" value="@THDefaults.PatientUnverified" />
        <button class="w-100 btn btn-lg btn-primary" type="submit">Register</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2017–2021</p>
    </form>
</main>



@section Scripts {
    <script>
        $(document).ready(function () {
            // Attach an event handler to the checkbox change event
            $("#doctorCheckbox").change(function () {
                var isChecked = $(this).is(":checked");
                var roleValue = isChecked ? "@THDefaults.DoctorUnverified" : "@THDefaults.PatientUnverified";

                console.log('hi')
                // Set the 'role' input field value
                $("#roleInput").val(roleValue);
            });
        });
    </script>
}
